{% extends 'base.html' %}
{% block content %}

<h1>Dashboard</h1>

{% if user.profile.role == "employer" %}
<h2>Your Posted Jobs</h2>
{% for job in jobs %}
<div class="card" style="border: 2px solid black;padding: 10px;margin: 10px;">

    <p class="card-text"><strong>{{ job.title }}</strong></p>
    <p class="card-text">{{ job.company }}|{{ job.location }}</p>
    <p>
        <a href="{% url 'job-detail' job.pk %}" class="btn btn-outline-primary">View</a>
    </p>

    <h4>Applications</h4>
    {% for app in job.application_jobs.all %}

    <p class="card-text">{{ app.user.username }} - {{ app.status }}</p>
    <p><strong>Cover Letter:</strong>{{ app.cover_letter }}</p>
    <p>
        <a href="{{ app.cv.url }}" class="btn btn-outline-primary">View CV</a>
    </p>
    <p>
        <a href="{% url 'update' app.pk 'accepted' %}" class="btn btn-outline-primary">Accept</a>
        <a href="{% url 'update' app.pk 'rejected' %}" class="btn btn-outline-danger">Reject</a>
    </p>

    {% endfor %}
</div>
{% endfor %}

{% else %}
<h2>Your Applications</h2>
{% for app in applications %}
<div class="card">
    <p class="card-text"><strong>Job:</strong>
        <a href="{% url 'job-detail' app.job.pk %}">{{ app.job.title }}</a>
    <p><strong>Status:</strong>{{ app.status }}</p>
    <p><strong>Applied at:</strong>{{ app.applied_at }}</p>
    <p><strong>Your CV:</strong>
        <a href="{{ app.cv.url }}" class="btn btn-outline-primary">View/Download</a>
    </p>

    </p>

</div>
{% endfor %}







{% endif %}





{% endblock content %}